[submodule "aula-2-pam"]
	path = aula-2
	url = https://github.com/damiiani/aula-2-pam
[submodule "aula-3-pam"]
	path = aula-3
	url = https://github.com/damiiani/aula-3-pam
[submodule "aula-4-pam"]
	path = aula-4
	url = https://github.com/damiiani/aula-4-pam
[submodule "aula-5-pam"]
	path = aula-5
	url = https://github.com/damiiani/aula-5-pam
[submodule "aula-6"]
	path = aula-6
	url = https://github.com/damiiani/aula-6-pam
[submodule "aula-7"]
	path = aula-7
	url = https://github.com/damiiani/aula-7-pam
[submodule "aula-7"]
	path = aula-7
	url = https://github.com/damiiani/aula-7-pam
